@import "../../color_variables.scss";


.modal {
    position: fixed;
    display: flex;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 1000;
}

.modalContent {
    position: relative;
    background-color: var(--accent);
    width: 60%;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--accent);
    z-index: 2000;
    overflow-y: auto;
    max-height: 70vh;
}

.close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 38px;

    &:hover {
        cursor: pointer;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.dropzone {
    border: 2px dashed var(--accent300);
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.preview {
    img {
        width: auto;
        max-height: 150px;
        border-radius: 10px;
    }
}

.fieldName {
    margin: 0.5rem 0;
}

.inputField {
    width: 100%;
    background-color: var(--text-secondary);
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--red);
    border-radius: 10px;
}

.deleteButton {
    height: 3rem;
    width: 5rem;
    margin-left: 1.5rem;
    background-color: rgb(131, 6, 6);
    color: var(--background);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
    }

    .deleteIcon {
        display: flex;
        margin: auto;
        font-size: 1.5rem;
    }
}

.deleteButton:hover {
    background-color: var(--background-forward);
}

.createBtn {
    display: flex;
    margin: 0 auto;
    margin-top: 1.75rem;
    width: auto;
    padding: 1rem 3rem;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    font-family: inherit;
    background: var(--accent100);
    letter-spacing: 2px;
    color: white;
    border-radius: 5px;
    transition: all 300ms;
}

.createBtn:hover {
    transform: scale(1);
    letter-spacing: 4px;
    background: var(--accent300);
    color: var(--main);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.57);
}