@import "../../color_variables.scss";

.wrapper {
    background: var(--background-forward);
    padding: 1.5rem;
    border-radius: 0.75rem;
    border: 2px solid var(--accent);
}

.postField {
    width: 100%;
    background-color: var(--text-secondary);
    color: var(--text-primary);
    border-radius: 2rem;
    padding: 1.1rem;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--accent);
    outline: none;
}

.postField::placeholder {
    color: var(--accent300);
}

.postAddOns {
    margin: 16px 0;
    padding: 0 15px;
    color: var(--text-primary);

    .postAddOn {
        gap: 0.3rem;
        cursor: pointer;
    }
}

.dropImageBox {
    border: 1px solid var(--accent);
    border-radius: 5px;
    margin-top: 13px;
    padding: 1rem;

    .deletePostImgBtn {
        width: 15%;
    }
}

.divider {
    background-color: var(--text-primary);
}

.whoCanSeeText {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    color: var(--accent300);
    justify-content: left;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-secondary);
    color: var(--text-primary);
    margin-top: 13px;
    width: 60px;
    height: 60px;
    border-radius: 13%;
    cursor: pointer;

    &:hover {
        background-color: var(--main);
        border-radius: 20%;
    }
}

.postVisibilitySelect {
    width: 18rem;
}

.visibilityIconSelected {
    background-color: var(--main);
    border-radius: 20%;
}

.icon {
    font-size: 22px;
    justify-content: center;
}

.selectVisAndPost {
    .postButton {
        width: 100px;
        padding: 7px;
        margin-top: auto;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        font-family: inherit;
        background: var(--main);
        letter-spacing: 2px;
        color: white;
        border-radius: 5px;
        transition: all 300ms;
    }

    .postButton:hover {
        transform: scale(1);
        letter-spacing: 4px;
        background: white;
        color: var(--main);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.57);
    }
}

.imgDropzone {
    border: 2px dashed var(--accent);
    padding: 1rem;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}