@import "../../color_variables.scss";

.sideMenu {
  --top-value: calc(#{$userImg-height} + 2 * #{$navbar-top-bottom-padding});
  background-color: var(--background-forward);
  color: var(--text-primary);
  position: sticky;
  top: var(--top-value);
  height: calc(100vh - var(--top-value));


  .listNav {
    padding: 0;

    .listItemContainer {
      .listItem {
        display: flex;
        align-items: center;
        padding: 0.8rem 1rem 0.8rem 1.1rem;
        cursor: pointer;

        &:hover {
          background-color: var(--background);
        }

        .sideMenuIcon {
          display: flex;
          font-size: 30px;
          margin-right: 10px;
        }

        .itemText {
          display: flex;
          margin-left: 0.5rem;
        }
      }
    }

    .itemSelected {
      background-color: var(--main);
      border-radius: 20% 0% 35% 0%;
    }
  }
}

.sideMenuIcon {
  min-width: 25px !important;
}
