@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Hachi+Maru+Pop&family=Pacifico&family=Press+Start+2P&family=Shadows+Into+Light&display=swap');
@import "../../color_variables.scss";

.pageWrapper {
    background-color: var(--background-backward);
    color: var(--text-primary);
    min-height: 100vh;
    padding-bottom: 55px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--accent2);
    padding: 1rem 0;
    text-align: center;

    .logoText {
        display: flex;
        font-family: "Hachi Maru Pop", cursive;
        font-size: 32px;
        margin-bottom: 7px;
        color: var(--main);
    }

    .logoImg {
        display: flex;
        width: 50px;
        padding-right: 1rem;
    }
}

.description {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 2rem;
}

.loginAndRegisterWidget {
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: var(--background-forward);
    color: var(--text-primary);
    font-family: inherit;
}

.formWrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: var(--background-forward);

    @media (min-width: $breakpoint-tablet) {
        &>div {
            grid-column: span 4;
        }
    }

    .name {
        grid-column: span 2;
    }

    .field {
        grid-column: span 4;
    }

    .imgUpload {
        grid-column: span 4;
        border: 2px dashed var(--accent);
        border-radius: 5px;
        color: var(--text-primary);

        .dropzone {
            padding: 1rem;
            cursor: pointer;
        }
    }
}

button.submitButton {
    margin: 2rem 0;
    padding: 1rem;
    background: var(--accent);
    color: var(--text-primary);

    &:hover {
        background-color: var(--main);
    }
}

.signInUpSwitch {
    text-decoration: underline;
    color: var(--text-primary);

    &:hover {
        cursor: pointer;
        color: var(--accent);
    }
}