@import "../../color_variables.scss";

.pageWrapper {
    background-color: var(--background-backward);
    color: var(--text-primary);
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: var(--secondary);
    padding: 1rem 0;
    text-align: center;

    .logo {
        font-weight: bold;
        font-size: 32px;
        color: var(--accent);
    }
}

.description {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 2rem;
}

.loginAndRegisterWidget {
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: var(--background-forward);
    color: var(--text-primary);
    font-family: inherit;
}

.formWrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: var(--background-forward);

    @media (min-width: $breakpoint-tablet) {
        &>div {
            grid-column: span 4;
        }
    }

    .name {
        grid-column: span 2;
    }

    .field {
        grid-column: span 4;
    }

    .imgUpload {
        grid-column: span 4;
        border: 2px dashed var(--accent);
        border-radius: 5px;
        color: var(--text-primary);

        .dropzone {
            padding: 1rem;
            cursor: pointer;
        }
    }
}

button.submitButton {
    margin: 2rem 0;
    padding: 1rem;
    background: var(--accent);
    color: var(--text-primary);

    &:hover {
        background-color: var(--main);
    }
}

.signInUpSwitch {
    text-decoration: underline;
    color: var(--text-primary);

    &:hover {
        cursor: pointer;
        color: var(--accent);
    }
}